[submodule "deps/bgfx.cmake"]
	path = deps/bgfx.cmake
	url = git@github.com:dashandslash/bgfx.cmake.git
[submodule "deps/brtshaderc"]
	path = deps/brtshaderc
	url = git@github.com:fredakilla/brtshaderc.git
[submodule "deps/entt"]
	path = deps/entt
	url = git@github.com:skypjack/entt.git
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
