[submodule "deps/bgfx.cmake"]
	path = deps/bgfx.cmake
	url = git@github.com:dashandslash/bgfx.cmake.git
[submodule "deps/brtshaderc"]
	path = deps/brtshaderc
	url = git@github.com:fredakilla/brtshaderc.git
